<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    <property name="LOGS" value="./logs" />-->

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(%5p [${springAppName:-},%X{X-Request-Id:-},%X{x-b3-traceid:-},%X{x-b3-spanid:-},%X{X-Span-Export:-}]) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="th.co.ais.mimo.debt.log.CustomJsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <appendLineSeparator>true</appendLineSeparator>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <includeMDC>false</includeMDC>
        </layout>
    </appender>


    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="json" />
    </root>

    <!-- LOG "com.example*" at TRACE level -->
    <logger name="th.co.ais.mimo.debt.change.catsubcat" level="TRACE" additivity="false">
        <appender-ref ref="json" />
    </logger>

    <logger name="io.jaegertracing" level="WARN" additivity="false">
        <appender-ref ref="json" />
    </logger>

</configuration>
